.Number{
  font-size: 50px;
}
.click{
color: rgb(99, 194, 55);
width: 200px;
height: 200px;
size: 250px;
font-size: 150px;

}

.stop{
    color: rgb(177, 14, 14);
    width: 200px;
    height: 200px;
    size: 250px;
    font-size: 150px;
}

picture{
    border: ridge;
    border-radius: 35%;
}